<nav class=" navbar" style="background-color: #75b9e9;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Internet magazin</a>
    <form class="d-flex">
      <ul>
        <li><a href="#">www</a></li>
        <li><a href="#">sss</a></li>
        <li><a href="#">kkk</a></li>
      </ul>
    </form>
  </div>
</nav>