 <nav class="container" style="background-color: #e3f2fd;">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">internetMagazin</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="active"><a href="/" class="text-info">Home</a></li>
        <li><a href="badges.html" class="text-warning">Components</a></li>
        <li><a href="collapsible.html " class="text-warning">JavaScript</a></li>
      </ul>
    </div>
  </nav>