<br>

<h1 class="display-5 fw-bold text-body-emphasis text-center"> Hello Components</h1>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://i0.wp.com/guidetoexam.com/wp-content/uploads/2022/06/Computer-Operator-Jobs-in-India.jpg" alt="" width="72" height="57">
    
    <div class="col-lg-6 mx-auto">
      
     <form action="/Components" method="post">
        <div class="form-floating">
          <input class="form-control" id="img" type="text" name="img" ></input>        
          <label for="floatingTextarea">img url :</label>
        </div>
        {{!-- enctype="multipart/form-data" --}}

        <div class="form-floating">
          <input class="form-control" id="name" type="text" name="name"></input>
          <label for="floatingTextarea">Components name :</label>
        </div>

        <div class="form-floating">
          <input class="form-control" type="text" id="vazifasi" name="vazifasi"></input>
          <label for="floatingTextarea">Functions :</label>
        </div>

        <div class="form-floating">
          <input class="maosh" type="number" id="maosh" name="maosh"></input>
          <label for="floatingTextarea">Narxi :</label>
        </div>

        <br>
      {{!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> --}}
          <button type="submit" class="btn btn-primary btn-lg px-4 gap-3"> button</button>
      {{!-- </div> --}}
      </form> 

    </div>
  </div>